.header{
    /*даем псевдоним h,n и c и потом используем его выше, говоря сколько нужно столбцов и строк  */
    grid-area: h;
    background-color: #096969;
}
/*говорим, если в header лежит img, то сделай ее ширину 40px*/
.header img {
    width:40px;
}