.app-wrapper{
    /*говорит, что это грид-элементы*/
    display: grid;

    /*говорим по какому шаблону оно выстроено: говорим что две строки, и h h это две колонки и h c это еще 2 колонки  */
    grid-template-areas:
    'h h'
    'n c';

    /*говорит, сколько строк будет, т.е.2: одна для heder, вторая для всего что снизу */
    grid-template-rows: 60px 1fr;
    /*говорит, сколько колонок будет: т.е. 2, fr-это фракции, равне части n*/
    grid-template-columns: 2fr 10fr;
    /*это расстояние между элементами */
    /*grid-gap:10px;*/
}
.header{
    grid-area: h;
    background-color: #096969;
}
/*говорим, если в header лежит img, то сделай ее ширину 40px*/
.header img{
    width:40px;
}
.nav{
    grid-area: n;
    background-color: #268383;
}
.content{
    grid-area: c;
}
