.app-wrapper{
    /*говорит, что это грид-элементы*/
    display: grid;
    /*выравниваем посередине */
    margin: 0 auto;
    width: 1200px;

    /*говорим по какому шаблону оно выстроено: говорим что две строки, и h h это две колонки и h c это еще 2 колонки  */
    grid-template-areas:
    'h h'
    'n c';
    /*говорит, сколько строк будет, т.е.2: одна для heder, вторая для всего что снизу */
    grid-template-rows: 60px 1fr;
    /*говорит, сколько колонок будет: т.е. 2, fr-это фракции, равне части n*/
    grid-template-columns: 2fr 10fr;
    /*это расстояние между элементами */
    /*grid-gap:10px;*/
}

.app-wrapper-content {
    grin-area:c;
    background-color: #2f9e9e;

}

